@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Sixtyfour+Convergence&family=Sofadi+One&display=swap');


*{
  font-family: "Merriweather", serif;
}
body{
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=0a6f3f&c2=2f295c&gt=r&gd=dcc
*/
background: #0A6F3F;
background: radial-gradient(at center, #0A6F3F, #2F295C);
}